@import '@/abstracts/variables';

.header {
  padding: 18px 0;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

  &__logo {
    display: block;
    max-width: 142px;
    width: 100%;
    object-fit: contain;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 32px;
    flex: 1;

    &>a {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: var(--gray-600);
    }
  }

  &__aut {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}