@import '@/abstracts/variables';

.footer {
  display: flex;
  flex-direction: column;

  &__top {
    padding: 48px 0;
    background: $gray-50;
  }

  &__center {
    border-bottom: 1px solid $gray-200;
    padding: 64px 0;
  }

  &__logo {
    display: block;
    width: 142px;
    object-fit: contain;
  }

  &__bottom {
    padding: 32px 0 48px 0;
  }
}